@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <img src='https://sun9-34.userapi.com/c851528/v851528930/11d216/RyW_3nrrPr0.jpg'>
    <p>Alpine Ski House — высококлассный горнолыжный склон на северо-востоке</p>
</div>
